# ==================================================
# PROYECTO 2 - SISTEMAS OPERATIVOS 1
# Archivos generados
# ==================================================

# Daemon Go
proyecto2/daemon/daemon-so1
proyecto2/daemon/ebpf-test

# eBPF generados
proyecto2/ebpf/*.bpf.o
proyecto2/ebpf/vmlinux.h

# Logs
proyecto2/cron/*.log

# Kernel module build
proyecto2/kernel/*.ko
proyecto2/kernel/*.o
proyecto2/kernel/*.mod
proyecto2/kernel/*.mod.c
proyecto2/kernel/*.mod.o
proyecto2/kernel/*.cmd
proyecto2/kernel/.*.cmd
proyecto2/kernel/Module.symvers
proyecto2/kernel/modules.order

# VS Code local
proyecto2/.vscode/